{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copyright</title>
    <link rel="stylesheet" href="{% static '/style/copyright.css' %}">
    <link rel="shortcut icon" type="x-1con" href="{% static '/dist/logo.png' %}">        
</head>
<body>
    <h1>Copyright / Citations</h1>
    <div class="container">
        <div>
            <h2>Hyperlinks</h2>
            <p><a href="https://en.wikipedia.org/wiki/Main_Page">WikiPedia</a></p>
            <p><a href="https://www.brainyquote.com/">brainyquote</a></p>
        </div><br>
        <div>
            <h2>Image Sources</h2>
            <p><a href="https://economictimes.indiatimes.com/">Economic Times</a></p>
            <p><a href="https://www.biographyonline.net">BiographyOnline</a></p>
            <p><a href="https://www.pinterest.com/">Pinterest</a></p>
            <p><a href="https://connectgujarat.com">Connect Gujarat</a></p>
            <p><a href="https://wikimedia.org">WikiMedia</a></p>
            <p><a href="https://byjus.com">Byjus</a></p>
            <p><a href="https://wikipedia.org">WikiPedia</a></p>
            <p><a href="https://www.jagranjosh.com/">Jagran Josh</a></p>
            <p><a href="https://www.jagran.com/">Jagran</a></P>
            <p><a href="https://www.freepik.com/">FreePik</a></p>
        </div><br>
        <div>
            <h2>Code Source</h2>
            <p><a href="https://getbootstrap.com/">Bootstrap</a></p>
            <p><a href="https://fontawesome.com/">Font Awesome</a></p>-
        </div><br>
        <div>
            <h2>Font</h2>
            <p style="font-family: 'Montserrat';"><a href="https://fonts.google.com/">Google Fonts: Montserrat</a></p>
            <p style="font-family: 'Caveat';"><a href="https://fonts.google.com/">Google Fonts: Caveat</a></p>
            <p style="font-family: 'JetBrains Mono';"><a href="https://fonts.google.com/">Google Fonts: JetBrains Mono</a></p>            
        </div><br>
    </div>    
</body>
</html>